.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 500px;
  width: 600px;
  border: 2px solid thistle;
}

.tabs-row {
  border-bottom: 2px solid black;
  margin: 1rem 0 0 1rem;
}

.tabs {
  padding: 10px;
}

.active-tabs {
  border-bottom: 0;
  outline: none;
  background-color: antiquewhite;
  margin-bottom: -1px;
}

.tabs-row {
  display: flex;
  flex-direction: row;
}

/* .tabs-active {
} */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

form,
input,
.app-container,
button {
  margin-top: 1rem;
}

.user-card {
  margin: auto;
  width: 400px;
  height: 50px;
  background-color: aqua;
}

.card-content,
.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons-bar {
  margin-left: 1rem;
}

.icons-bar,
.user-details {
  margin-top: 1rem;
}
